.DS_Store
*store*

**/.DS_Store
*.DS_Store
*pycache*

/.idea/misc.xml
/.idea/ML4CrowdModelling.iml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml